* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* HEADER START */

.header {
    max-width: 1110px;
    width: 100%;
    margin: 20px auto 36px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-img {
    display: block;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-link {
    display: block;
    color: #3A3838;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-left: 15px;
    transition: 0.5s;
}

.header__nav-link:hover {
    color: #EF4423;
}

.header__img {
    display: block;
    width: 100%;
}

/* HEADER END */

/* MAIN START */

.main__items-item {
    width: 100%;
    background: #B71C1C;
}

.main__items-item:nth-of-type(2) {
    background: #6A1B9A;
}

.main__items-item:nth-of-type(3) {
    background: #303F9F;
}

.main__items-item:nth-of-type(4) {
    background: #00695C;
}

.main__items-item:nth-of-type(2) .main__items-title {
    padding-top: 15px;
    margin-bottom: 9px;
    margin-top: 0;
}

.main__items-item:nth-of-type(4) .main__items-title {
    padding-top: 15px;
    margin-bottom: 9px;
    margin-top: 0;
}

.main__items-img {
    display: block;
    width: 100%;
}

.main__items-title {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    margin: 8px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main__items-description {
    color: #EBEBEB;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.main__items {
    display: flex;
    width: 100%;
}

.main__title {
    color: #3A3838;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin: 40px 0;
    text-align: center;
}

.main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDEDED;
    margin-bottom: 30px;
}

.main__content-info {
    max-width: 540px;
    width: 100%;
    margin-left: 30px;
}

.main__content-img {
    display: block;
}

.main__content-title {
    color: #3A3838;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px;
}

.main__content-description {
    color: #686868;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

/* MAIN END */

/* FOOTER START */

.footer {
    padding: 29px;
    background: #3A3838;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.footer__nav-list {
    display: flex;
}

.footer__nav-link {
    display: block;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-left: 15px;
    transition: 0.5s;
}

.footer__nav-link:hover {
    color: #EF4423;
}

.footer__nav-img {
    display: block;
}

/* FOOTER END */

@media(max-width: 1200px) {
    .header {
        padding: 0 29px;
    }

    .main__items {
        flex-direction: column;
    }
}

@media(max-width: 1024px) {
    .main__content {
        flex-wrap: wrap;
    }

    .main__content-info {
        margin-top: 15px;
    }
}

@media(max-width: 900px) {
    .header__nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__nav-list {
        margin-bottom: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__nav-link {
        margin-top: 15px;
    }

    .footer__nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__nav-link {
        margin-top: 15px;
    }
}

@media(max-width: 555px) {
    .main__content-img {
        width: 100%;
    }
}